page-feed {
  .feed_title {
    color: royalblue;
    font-weight: bold;
    text-align: center;
    font-size: large;
    overflow-wrap: break-word;
    word-break: break-all;
  }

  .feed_date{
    color: darkgray;
    text-align: center;

  }

}
